.App {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

header {
  background-color: #222;
  padding: 20px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  font-style: bold;
}

h4 {
  font-size: 18px;
  font-style: italic;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.nav-tabs {
  height: 55px;
}

.nav>li>a {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 6px;
}

main {
  display: flex;
  margin: 20px 20px;
}

.DataLayout {
  display: flex;
}

.DataRender {
  margin: 0px 20px;
  font-size: 13px;
}

.DataTable {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

th, td {
  padding: 0px 5px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.DonateOptions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DonateColumn {
  margin-top: 20px;
  flex-basis: 100%;
  display: inline-block;
  text-align: center;
}

form {
  font-size: 11px;
}
