.App {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

header {
  background-color: #222;
  padding: 20px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  font-style: bold;
}

h4 {
  font-size: 18px;
  font-style: italic;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 35px;
}

section {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
}

.DataTable {
  font-size: 13px;
}
